<div class="card border-primary mb-3 bla" style="max-width: 100rem;">
  <div class="card-header"><%=@email.object%></div>
  <div class="card-body">
    <p class="card-text"> <%=@email.body%> </p>

    <button type="button" class="btn btn-danger">Supprimer</button>
    <button type="button" class="btn btn-warning">Marquer comme non-lu</button>

  </div>
</div>
