<div class="card border-primary mb-3 bla" style="max-width: 100rem;">
  <div class="card-header"><%=@email.object%></div>
  <div class="card-body">
    <p class="card-text"> <%=@email.body%> </p>
  </div>
</div>
