
<div class="container col-12">
  <div class="card border-primary mb-3" style="max-width: 100rem;">
    <div class="card-header text-center"><%=@email.object%></div>
    <div class="card-body">
      <p class="card-text text-center"><%=@email.body%></p>
    </div>
  </div>
 </div>
